* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/img/fondo-inicio.jpeg);
    background-color: rgba(0, 0, 0, .8);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* --------------barra de menu-------------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.logo {
    width: 150px;
}

.logo img {
    width: 50px;
}
.nav ul {
    list-style: none;
    display: flex;
}

.nav ul a {
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    color: #000;
}

.nav ul a:hover {
    color: #999;
}

.login a button{
    width: 150px;
}

/* footer */

.footer {
    background-color: #fff;
    padding: 20px 50px;
}

.footer p {
    text-transform: capitalize;
    text-align: center;
    padding: 5px;
}